<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rohim.springboot2.repositories.IUserMapper">
  <resultMap type='com.rohim.springboot2.models.User' id='userMap'>
    <result property='id' column='id' />
    <result property='name' column='name' />
    <result property='password' column='password' />
    <result property='points' column='points' />
    <result property='createdon' column='createdon' />
  </resultMap>

  <select id="findAll" resultMap="userMap">
    SELECT id, name, password, points, createdon FROM users
  </select>
</mapper>